/*Outer Space - #484A47
Cadet - #5C6D70
Burnished brown - #A37774
Middle red - #E88873
Pastel pink - #E0AC9D
*/

h3
{
    color: white;
    display: inline;
    margin: 0;
}

a:visited, :link {
    color: #EBEBEB;
    text-decoration: none;
    transition: 1s;
}
a:hover, :active {
    color: #BBBBBB;
    text-decoration: none;
}

#headerContainer
{
    /*Containeren header*/
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("../img/Header/Header_Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    top: 0;
    left: 0; 
    
    
}

#robotBoks {
    position: fixed;
    width: 200px;
    bottom: -40px;
    right: 100px;
}

#headerContainerLink 
{
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
    color: #EBEBEB;
    font-size: 26px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    text-align: center;
    top: 10px;
    text-transform: uppercase;
}


#headerMenu
{
    /* Menyen i headeren*/
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: #5C6D70;
    margin: 0;
    top: 0;
    left: 0;
}

#tittelContainer 
{
    position: absolute;
    top: 30%;
    left: 5%;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 50px;
    color: #EBEBEB;
    text-shadow: 2px 2px #101010;   
}

#beskrivelseContainer 
{
    position: absolute;
    top: 50%;
    width: 40%;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 27px;
    color: #EBEBEB;
    text-shadow: 2px 2px #101010; 
    left: 5%;
}

#bodyContainer
{
    position: absolute;
    top: 100vh;
    height: 300vh;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #A37774;
}

#timeline {
    position: absolute;
    width: 50px;
    height: 300vh;
    right: 48%;
    background-color: #484A47;
}

#tittel
{
    position: absolute;
    left: 660px;
    top: 50px;
    margin: 0;
    background-color: forestgreen;
}


#artikkelBoks
{
    position: absolute;
    background-color: deeppink;
    height: 300px;
    width: 0px;
    left: 600px;
    transition: all 1.5s ease-out 0s;
    overflow: hidden;
}


#artikkelTittel {
    top: 0;
    width: 300px;
    height: 300px;
    position: absolute;
    transition: all 0s linear 0s
}

#artikkel
{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
}


#divTestShizz:hover
{
     display: block;
}

#tittel:hover + #artikkelBoks
{   
    
    width: 300px;
}

#artikkelBoks:hover
{   
    width: 300px;
}

#artikkelBilde {
    position: absolute;
    width: 
}

#tittel:hover + #artikkelBoks
{       
    width: 300px;
}

#artikkelBoks:hover
{   
    width: 300px;
}

