h3
{
    color: white;
    display: inline;
    margin: 0;
}

#header_container
{
    /*Containeren header*/
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("../img/terminate.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    background-color: bisque;
    margin: 0;
    top: 0;
    left: 0;    
}

#header_menu
{
    /* Menyen i headeren*/
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: gray;
    margin: 0;
    top: 0;
    left: 0;
}

#eksempel_timeline
{
    position: absolute;
    top: 100vh;
    left: 0;
    margin: 0;
    width: 100%;
}

#divTextTest
{
    position: absolute;
    top: 100px;
    left: 0;
    margin: 0;
    background-color: aqua;
}


#divTestShizz
{
    position: absolute;
    display: none;
    background-color: red;
    height: 100px;
    width: 100px;
    left: 10px;
}

#divTextTest:hover + #divTestShizz
{
 display: block;
}

#divTestShizz:hover
{
     display: block;
}



