/*Outer Space - #484A47
Cadet - #5C6D70
Burnished brown - #A37774
Middle red - #E88873
Pastel pink - #E0AC9D
*/

body 
{
    margin: 0;  
}

h3
{
    color: white;
    display: inline;
    margin: 0;
}

a:visited, :link 
{
    color: #EBEBEB;
    text-decoration: none;
    -webkit-transition: 1s;
    transition: 1s;
}

a:hover, :active 
{
    color: #BBBBBB;
    text-decoration: none;
}

#headerContainer
{
    /*Containeren header*/
    z-index: -10;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("../img/Header/Header_Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

#robotBoks 
{
    z-index: -10;
    position: fixed;
    width: 200px;
    bottom: -20px;
    right: 280px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#robotBoks:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#headerContainerLink 
{
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
    color: #EBEBEB;
    font-size: 26px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    text-align: center;
    top: 10px;
    text-transform: uppercase;
    
}

.buttonHeader
{
    background-color: #A37774;
    top: 10px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #5C6D70;
    color: #EBEBEB;
    border: 2px solid #484A47;
    border-radius: 5px;
}

.buttonHeader:hover 
{
    background-color: #A37774;
    color: white;
}

#headerMenu
{
    /* Menyen i headeren*/
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: #5C6D70;
    margin: 0;
    top: 0;
    left: 0;
    border-bottom: 2px solid #484A47;
    
}

#tittelContainer 
{
    position: absolute;
    top: 30%;
    left: 5%;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 50px;
    color: #EBEBEB;
    text-shadow: 0px 0px #101010;   
}

#beskrivelseContainer 
{
    position: absolute;
    top: 50%;
    width: 40%;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 27px;
    color: #EBEBEB;
    left: 5%;
}

#bodyContainer
{   
    z-index: -9;
    position: absolute;
    top: 100vh;
    height: 2000px;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #A37774;
}       

.colorBox{
    width: 20%;
    height: 100px;
    position: absolute;
    border-radius: 5px;
}
 
#box1 {
    background-color: #484A47;
}
#box2 {
    background-color: #5C6D70;
    left: 20%;
   
}
#box3 {
    background-color: #A37774;
    left: 40%;
    z-index: -10;
}
#box4 {
    background-color: #E88873;
    left: 60%;
}
#box5 {
    background-color: #E0AC9D;
    left: 80%;
}


footer {
    width: 100%;
    height: 6%;
    background: #5C6D70;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #484A47;
}

footer #footerCopyright
{
    position: absolute;
    top: 30%;   
    right: 0%;
    bottom: 0;
    height: 90%;
    width: 20%;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    color: #EBEBEB;
    font-size: 15px;
}

footer #footerSocialContainer
{
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 90%;
    width: 70px;
    height: 35px;
    margin: 3px;
    top: 3px;
}

#footerSocial
{
    position: relative;
    display: inline;
    width: 40%;
}

#footerSocial img
{
    max-height: 100%;
    max-width: 100%;
}

#footerSocial img:hover 
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#topButton 
{
    width: 100px;
    height: 20px;
    top: 4px;
    position: relative;
    margin: auto;
    background-color: #5C6D70;
    color: #EBEBEB;
    font-size: 16px;
    padding: 8px;
    border: 2px solid #484A47;
    border-radius: 5px;
    text-align: center;
    font-family: 'Arial Rounded MT Bold', sans-serif; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#topButton:hover
{
    background-color: #A37774;

}

.topText 
{
    font-family: 'Ariel Rounded MT Bold', sans-serif;   
    color: #EBEBEB;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 25px;
}

