a:hover, :active, :link, :visited 
{
    color: black;
}

#articleContainer
{
    position: absolute; 
    width: 76%;
    top: 10%;
    left: 15%;
}

#whoArticle
{
    position: relative;
    width: 400px;
    height: 400px;
    float: left;
    background: #484A47;
    padding: 20px;
    border: 2px solid #484A47;
    opacity: 0.80;
    margin: 15px;
    overflow: hidden;
    border-radius: 30px;
}

#whoPicture 
{
    position: absolute;
    top: 0;
    left:0;
    height: 250px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
}

#whoPicture:hover 
{
    height: 300px;
} 

#whoReason 
{
    top: 21%;
    margin-left: 40%;
    z-index: -1;
    font-size: 19px;
}
 
#whoDob, #whoDod, #whoName, #whoStory, #whoReason
{
    position: absolute;
    color: #EBEBEB;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

#whoStory
{
    position: absolute;
    font-size: 16px;
    bottom: 0;
}

#whoName 
{
    top: 0;
    right: 5%;
}

#whoDob 
{
    top: 7%;
    right: 5%;
}

#whoDod 
{
    top: 14%;
    right: 5%;
}
