a:hover, :active, :link, :visited {
    color: black;
}

#whoArticle{
    position: relative;
    width: 400px;
    height: 400px;
    float: left;
    background-color: #E0AC9D;
    padding: 20px;
    border: 5px solid #484A47;
    opacity: 0.65;
    margin-left: auto;
    margin-right: auto;
    
    
}

#articleContainer{
    position: relative; 
    width: 1400px;
    top: 10%;
    margin: auto;
  
}

#whoStory {
    position: absolute;
    bottom: 0;
    color: #EBEBEB; /*??Riktig farge??*/
    font-size: 16px;
    font-family: 'Arial Roundet MT Bold', sans-serif;
}

#whoPicture {
    position: absolute;
    height: 50%;
}
