a:hover, :active, :link, :visited {
    color: black;
}

#whoArticle{
    position: relative;
    width: 306px;
    height: 200px;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: #E0AC9D;
    padding: 10px;
    left: 2%; 
    top: 0;/*?????*/
    border: 5px solid #484A47;
    opacity: 0.65;
    
    
}

#articleContainer{
    position: relative; 
    height: ;
    width: 1200px;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}
