#containerTest
{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding: 10px;
}

/* Div for spørsmålene*/
.questionContainer
{
    position: relative; 
    margin: auto;   
    margin-bottom: 30px;
    text-align: center;
}

.questionContainer h3
{
    font-size: 30px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    color: darkslategrey;
    margin: 5px;
}

.questionContainer a:hover, :active, :link, :visited
{
    color: #EBEBEB;
}

/* Knapp */
.buttonAnswer
{
    position: relative;
    color: #EBEBEB;
    background-color: #5C6D70;
    text-align: center;
    align-self: center;
    display: block;
    padding: 5px;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 24px;
    width: 80%;
    margin: auto;
    margin-top: 3px;
    border: 1px solid #484A47;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

/*På trykk*/
.buttonAnswer:active
{
    background-color: #E0AC9D;
}


/* Hover */

.buttonAnswer:hover{
    width: 83%;
    transition: .3s;
    border-radius: 10px;
}


#resultContainer
{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #5C6D70;
    border-radius: 50px;
    margin-top: 50px;
    border: 1px solid #484A47;
}

#resultContainer h1, h3
{
    text-align: center;
    color: #EBEBEB;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    display: block;
    margin-bottom: 4px;
}

#resultContainer h3
{
    font-size: 12px;
}

#resultTrump
{
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 250px;
    height: 250px;
    margin: 0;  
}

#resultTrump img:hover
{
    transform: scale(2.6)rotate(-60deg);
}

#resultTrump img 
{
    transition: 1.7s;
}

#resultTrump:hover + #resultText
{
    visibility: visible;
    opacity: 1;
}

#resultText
{
    position: absolute;
    width: 40%;
    color: white;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    left: 20px;
    top 40%;
    visibility: hidden;
    opacity: 0;
    transition:  visibility 1s ease-in-out, opacity 1s ease-in-out; 
}

