/*Outer Space - #484A47
Cadet - #5C6D70
Burnished brown - #A37774
Middle red - #E88873
Pastel pink - #E0AC9D
*/
#timeline {
    margin: auto;
    width: 50px;
    top: 100px;
    height: 90%;
    position: relative;
    background-color: #484A47;
}

.timelineBox {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -25px;
    background: #484A47;
    transform: rotate(45deg);
    margin: auto;
    text-align: center;
}

#timelineBox1{
    top: -10px;
}

#timelineBox2{
    top: 500px;
}

.yearBox {
    position: absolute;
    left: 28px;
    top: 40px;
    transform: rotate(-45deg);
    color: #EBEBEB;
    font: 20px 'Arial Rounded MT Bold', sans-serif;
}

.title
{
    position: absolute;
    left: 700px;
    margin: 0;
    color: #EBEBEB;
    font: 20px 'Arial Rounded MT Bold', sans-serif;
}

#title1 {
    top: 300px;
}


#artikkelBoks {
    position: absolute;
    background-color: deeppink;
    height: 300px;
    top: 50px;
    width: 0px;
    left: 600px;
    transition: all 1.5s ease-out 0s;
    overflow: hidden;
}


.artikkelTittel {
    top: 0;
    width: 300px;
    height: 300px;
    position: absolute;
}

.artikkel
{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
}

#title1:hover + #artikkelBoks
{   
    
    width: 300px;
}

#artikkelBoks:hover
{   
    width: 300px;
}


#tittel:hover + #artikkelBoks
{       
    width: 300px;
}

#artikkelBoks:hover
{   
    width: 300px;
}

