/*Outer Space - #484A47
Cadet - #5C6D70
Burnished brown - #A37774
Middle red - #E88873
Pastel pink - #E0AC9D
*/

#timeline 
{
    margin: auto;
    width: 50px;
    top: 100px;
    height: 98%;
    position: relative;
    background-color: #484A47;
    z-index: -9;
}

.timelineBox 
{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -25px;
    background: #484A47;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

/* Timelineårstallbokser posisjoner*/

#bodyContainer 
{
    height: 5500px;
}

#timelineBox1 
{
    top: -10px;
}

#timelineBox2 
{
    top: 500px;
}

#timelineBox3 
{
    top: 1010px;
}

#timelineBox4 
{
    top: 1520px;
}

#timelineBox5 
{
    top: 2030px;
}

#timelineBox6 
{
    top: 2540px;
}

#timelineBox7 
{
    top: 3050px;
}

#timelineBox8 
{
    top: 3560px;
}

#timelineBox9 
{
    top: 4070px;
}

#timelineBox10 
{
    top: 4580px;
}
/* Timelineårstallbokser posisjoner*/

.yearBox 
{
    position: absolute;
    left: 28px;
    top: 40px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #EBEBEB;
    font: 20px 'Arial Rounded MT Bold', sans-serif;
}

.title {   
    padding: 10px;
    position: absolute;
    left: 0px;
    margin: 100px;
    width: 320px;
    color: #EBEBEB;
    font: 20px 'Arial Rounded MT Bold', sans-serif;
    z-index: -8;
    text-align: center;
    border-bottom: 4px solid #484A47;
    border-radius: 20px;
    
}

.articleTitle 
{
    text-align: center;
    top: 0;
    width: 600px;
    height: 510px;
    position: absolute;
    color: #EBEBEB;
}

.article 
{ 
    font-size: 17px;
    text-align: left;
    width: 500px;
    height: 500px;
    left: 50px;
    position: absolute;
    top: 50px;
    color: #EBEBEB;
}

.articleBox 
{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    position: absolute;
    background-color: #484A47;
    height: 430px;
    z-index: 0;
    width: 0;
    top: 80px;
    left: 25px;
    -webkit-transition: all 1.5s ease-out 0s;
    transition: all 1.5s ease-out 0s;
    overflow: hidden;
    border: 0px solid #484A47;
    z-index: -7;
    border-radius: 5px;
    border-left: none;
}

.imgBox 
{
    position: absolute;
    background-color: #484A47;
    height: 430px;
    width: 0;
    top: 80px;
    right: 25px;
    -webkit-transition: all 1.5s ease-out 0s;
    transition: all 1.5s ease-out 0s;
    overflow: hidden;
    border: 0px solid #484A47;
    background-size: cover;
    border-radius: 5px;
    border-right: none;
}    

/*Artikkel Start*/
#title1 
{
    left: -70px;
    top: 0px;
}

#imgBox1 
{
    background-image: url(../img/ArtikkelBilder/Alan%20Turing.jpg);
}

#title1:hover ~ #articleBox1 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}
#title1:hover ~ #imgBox1 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title2 
{
    top: 150px;
    left: -420px;
}

#title2:hover ~ #articleBox2 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}
#title2:hover ~ #imgBox2 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox2 
{
    background-image: url(../img/ArtikkelBilder/Logic%20Theorist.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title3 
{
    top: 300px;
    left: -70px;
}

#title3:hover + #articleBox3 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title3:hover ~ #imgBox3 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox3 
{
    background-image: url(../img/ArtikkelBilder/LISP.png);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title4 
{
    top: 500px;
    left: -420px;
}

#articleBox4, #imgBox4 
{
    top: 590px;
}

#title4:hover + #articleBox4 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title4:hover ~ #imgBox4 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox4 
{
    background-image: url(../img/ArtikkelBilder/UNIMATE.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title5 
{
    top: 600px;
    left: -70px;
}

#articleBox5, #imgBox5 
{
    top: 590px;
}

#title5:hover + #articleBox5 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title5:hover ~ #imgBox5 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox5 
{
    background-image: url(../img/ArtikkelBilder/DENDRAL.gif);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title6 
{
    top: 800px;
    left: -420px;
    
}

#articleBox6, #imgBox6 
{
    top: 590px;
}

#title6:hover + #articleBox6 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title6:hover ~ #imgBox6 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox6 
{
    background-image: url(../img/ArtikkelBilder/SHRDLU.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title7 
{
    top: 1000px;
    left: -70px;
}

#articleBox7, #imgBox7 
{
    top: 1100px;
}

#title7:hover + #articleBox7 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title7:hover ~ #imgBox7 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox7 
{
    background-image: url(../img/ArtikkelBilder/Prolog.png);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title8 
{
    top: 1200px;
    left: -420px;
    
}

#articleBox8, #imgBox8 
{
    top: 1100px;
}

#title8:hover + #articleBox8 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title8:hover ~ #imgBox8 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox8 
{
    background-image: url(../img/ArtikkelBilder/freddy-robot.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title9 
{
    top: 1350px;
    left: -70px;
    
}

#articleBox9, #imgBox9 
{
    top: 1100px;
}

#title9:hover + #articleBox9 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title9:hover ~ #imgBox9 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox9 
{
    background-image: url(../img/ArtikkelBilder/Bounded%20rationality.gif);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title10 
{
    top: 1550px;
    left: -420px;   
}

#articleBox10, #imgBox10 
{
    top: 1610px;
}

#title10:hover + #articleBox10 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title10:hover ~ #imgBox10 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox10 
{
    background-image: url(../img/ArtikkelBilder/AI%20Winter.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title11 
{
    top: 1700px;
    left: -70px;
}

#articleBox11, #imgBox11 
{
    top: 1610px;
}

#title11:hover + #articleBox11 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title11:hover ~ #imgBox11 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox11 
{
    background-image:url(../img/ArtikkelBilder/Skynet.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title12 
{
    top: 1850px;
    left: -420px;   
}

#articleBox12, #imgBox12 
{
    top: 1610px;
}

#title12:hover + #articleBox12 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title12:hover ~ #imgBox12 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox12 
{
    background-image: url(../img/ArtikkelBilder/Deep%20Tought.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title13 
{
    top: 2050px;
    left: -70px;
}

#articleBox13, #imgBox13 
{
    top: 2120px;
}

#title13:hover + #articleBox13 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}
#title13:hover ~ #imgBox13 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox13 
{
    background-image: url(../img/ArtikkelBilder/TD-Gammon.png);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title14 
{
    top: 2250px;
    left: -420px; 
}

#articleBox14, #imgBox14 
{
    top: 2120px;
}

#title14:hover + #articleBox14 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title14:hover ~ #imgBox14 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox14 
{
    background-image: url(../img/ArtikkelBilder/ChinookTeam.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title15 
{
    top: 2400px;
    left: -70px;
}

#articleBox15, #imgBox15 
{
    top: 2120px;
}

#title15:hover + #articleBox15 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title15:hover ~ #imgBox15 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox15 
{
    background-image: url(../img/ArtikkelBilder/No%20Hnds%20across%20America.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title16 
{
    top: 2550px;
    left: -420px;
}

#articleBox16, #imgBox16 
{
    top: 2630px;
}

#title16:hover + #articleBox16 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title16:hover ~ #imgBox16 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox16 
{
    background-image: url(../img/ArtikkelBilder/DARPA%20Centibot.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title17 
{
    top: 2700px;
    left: -70px;  
}

#articleBox17, #imgBox17 
{
    top: 2630px;
}

#title17:hover + #articleBox17 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title17:hover ~ #imgBox17 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox17 
{
    background-image: url(../img/ArtikkelBilder/Opportunity.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title18 
{
    top: 2900px;
    left: -420px;   
}

#articleBox18, #imgBox18 
{
    top: 2630px;
}

#title18:hover + #articleBox18 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title18:hover ~ #imgBox18 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox18 
{
    background-image: url(../img/ArtikkelBilder/DARPA%20Centibot.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title19 
{
    top: 3100px;
    left: -70px;
}

#articleBox19, #imgBox19 
{
    top: 3140px;
}

#title19:hover + #articleBox19 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title19:hover ~ #imgBox19
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox19 
{
    background-image: url(../img/ArtikkelBilder/siri-iphone.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title20 
{
    top: 3250px;
    left: -420px; 
}

#articleBox20, #imgBox20 
{
    top: 3140px;
}

#title20:hover + #articleBox20 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title20:hover ~ #imgBox20
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox20 
{
    background-image: url(../img/ArtikkelBilder/Eugene%20Goostman.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title21 
{
    top: 3400px;
    left: -70px;  
}

#articleBox21, #imgBox21 
{
    top: 3140px;
}

#title21:hover + #articleBox21 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title21:hover ~ #imgBox21 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox21 
{
    background-image: url(../img/ArtikkelBilder/BillStephenElon.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title21 {
    top: 3400px;
    left: -70px;
    
}
#articleBox21, #imgBox21 {
    top: 3140px;
}
#title21:hover + #articleBox21 {
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}
#title21:hover ~ #imgBox21 {
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox21 {
    background-image: url(../img/ArtikkelBilder/BillStephenElon.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title22 {
    top: 3600px;
    left: -420px;
    
}
#articleBox22, #imgBox22 {
    top: 3650px;
}
#title22:hover + #articleBox22{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}
#title22:hover ~ #imgBox22 {
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox22 {
    background-image: url(../img/ArtikkelBilder/BillStephenElon.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title23 {
    top: 3800px;
    left: -70px;
    
}
#articleBox23, #imgBox23 
{
    top: 3650px;
}
#title23:hover + #articleBox23
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}
#title23:hover ~ #imgBox23 
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox23 
{
    background-image: url(../img/ArtikkelBilder/BillStephenElon.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title22 
{
    top: 3250px;
    left: -70px;  
}

#articleBox22, #imgBox22
{
    top: 3140px;
}

#title22:hover + #articleBox22
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title22:hover ~ #imgBox22
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox22
{
    background-image: url(../img/ArtikkelBilder/BillStephenElon.jpg);
}
/*Artikkel Slutt*/

/*Artikkel Start*/
#title23 
{
    top: 3700px;
    left: -70px;  
}

#articleBox23, #imgBox23
{
    top: 3220px;
}

#title23:hover + #articleBox23
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#title23:hover ~ #imgBox23
{
    border: 1px solid #484A47;
    width: 600px;
    cursor: pointer;
}

#imgBox23
{
    background-image: url(../img/ArtikkelBilder/BillStephenElon.jpg);
}
/*Artikkel Slutt*/





