/*Outer Space - #484A47
Cadet - #5C6D70
Burnished brown - #A37774
Middle red - #E88873
Pastel pink - #E0AC9D
*/

#timeline {
    margin: auto;
    width: 50px;
    top: 100px;
    height: 90%;
    position: relative;
    background-color: #484A47;
}

.timelineBox {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -25px;
    background: #484A47;
    transform: rotate(45deg);
    margin: auto;
    text-align: center;
}

#timelineBox1{
    top: -10px;
}

#timelineBox2{
    top: 500px;
}

.yearBox {
    position: absolute;
    left: 28px;
    top: 40px;
    transform: rotate(-45deg);
    color: #EBEBEB;
    font: 20px 'Arial Rounded MT Bold', sans-serif;
}

.title
{
    position: absolute;
    left: 50px;
    width: 300px;
    margin: 0;
    color: #EBEBEB;
    font: 20px 'Arial Rounded MT Bold', sans-serif;
}

#title1 {
    top: 150px;
}



#artikkelBoks {
    position: absolute;
    background-color: #E88873;
    height: 500px;
    width: 0;
    top: 40px;
    left: 50px;
    transition: border 1.5s ease-out 0s, width 1.5s ease-out 0s;
    overflow: hidden;
    border: 0px solid #484A47;
    border-radius: 3px;
}


.artikkelTittel {
    text-align: center;
    top: 0;
    width: 600px;
    height: 510px;
    position: absolute;
}

.artikkel
{   
    text-align: center;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 50px;
}

#title1:hover + #artikkelBoks
{   
    border: 5px solid #484A47;
    width: 600px;
}

#artikkelBoks:hover
{   
    width: 600px;
    border: 5px solid #484A47;
}


